.pokemon-page-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.pokemon-page-header img {
  width: 30px;
  cursor: pointer;
}
.pokemon-page-header h1 {
  margin: 0px 50px;
  color: white;
}

.pokemon-page-search {
  margin: auto;
  border-style: none;
  width: 200px;
  display: flex;
  margin-bottom: 30px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: "Rubik", sans-serif;
}
